.error404 {
  height: 100%;

  body {
    background-image: none;
  }

  .row {
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 40vh;
  }
  h1 {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3;
  }
  .button {
    appearance: none;
    background-color: var(--color-main);
    color: var(--color-bg);
    padding: 0.5em 1em;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    margin: 1em auto;
    font-family: $font-family-text;
    font-size: 1.6rem;
    line-height: 1.5;
    cursor: pointer;
  }

  p {
    cursor: pointer;
  }

  pre {
    max-width: 700px;
    margin: 1rem auto;
    text-align: left;
    font-family: $font-family-monospace;
    background: var(--color-neutral-lighter);
    font-size: 1rem;
    padding: 2em;
    overflow: auto;
  }
}
