// TIPS from https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/

@mixin fontDownloadTime {
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  @include fontDownloadTime;
  font-family: 'Great Vibes';
  font-weight: normal;
  font-style: normal;
  src: url('#{$path__fonts}/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Codystar';
  font-weight: 300;
  font-style: normal;
  src: url('#{$path__fonts}/Codystar-Light.ttf') format('truetype');
}

@font-face {
  @include fontDownloadTime;
  font-family: 'BookEnd';
  font-weight: normal;
  font-style: normal;
  src: url('#{$path__fonts}/bookendswithaccents.woff2') format('woff2'), url('#{$path__fonts}/bookendswithaccents.woff') format('woff');
}

@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: normal;
  font-style: normal;
  src: url('#{$path__fonts}/ruda-regular.woff2') format('woff2'), url('#{$path__fonts}/ruda-regular.woff') format('woff'),
    url('#{$path__fonts}/ruda-regular.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: 700;
  font-style: normal;
  src: url('#{$path__fonts}/ruda-bold.woff2') format('woff2'), url('#{$path__fonts}/ruda-bold.woff') format('woff'),
    url('#{$path__fonts}/ruda-bold.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: 900;
  font-style: normal;
  src: url('#{$path__fonts}/ruda-black.woff2') format('woff2'), url('#{$path__fonts}/ruda-black.woff') format('woff'),
    url('#{$path__fonts}/ruda-black.ttf') format('truetype');
}
