@mixin fontDownloadTime {
  font-display: block;
};

@font-face {
  @include fontDownloadTime;
  font-family: 'BookEnd';
  font-weight: normal;
  font-style: normal;
  src:  url('#{$path__fonts}/bookendswithaccents.woff2') format('woff2'),
        url('#{$path__fonts}/bookendswithaccents.woff') format('woff'),
        url('#{$path__fonts}/bookendswithaccents.ttf') format('truetype');
}

@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: normal;
  font-style: normal;
  src:  url('#{$path__fonts}/ruda-regular.woff2') format('woff2'),
        url('#{$path__fonts}/ruda-regular.woff') format('woff'),
        url('#{$path__fonts}/ruda-regular.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: 700;
  font-style: normal;
  src:  url('#{$path__fonts}/ruda-bold.woff2') format('woff2'),
        url('#{$path__fonts}/ruda-bold.woff') format('woff'),
        url('#{$path__fonts}/ruda-bold.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: 900;
  font-style: normal;
  src:  url('#{$path__fonts}/ruda-black.woff2') format('woff2'),
        url('#{$path__fonts}/ruda-black.woff') format('woff'),
        url('#{$path__fonts}/ruda-black.ttf') format('truetype');
}
