@use 'variables' as *;

* {
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
}

img {
  vertical-align: middle;
}

.row,
.container {
  @include container;
}

.container-page {
  @include container;
  padding-top: 6rem;
}

@include mq($from: tablet) {
  .page-enter-active,
  .page-leave-active {
    transition: all 0.3s ease-in-out;
  }
  .page-enter-from,
  .page-leave-to {
    opacity: 0;
    // filter: blur(0.1rem) grayscale(1);
    // filter: blur(0.1rem);
    filter: grayscale(1);
    transform: translateX(-20px);
  }
}
