.post-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  &--internal {
    .post-item__date svg {
      stroke: var(--color-main);
    }
  }
  &__title {
    a {
      @extend %item-title;
    }
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-neutral-light);
  }
  &__source {
    display: block;
    color: var(--color-neutral-light);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
