.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__single {
    // display: inline-block;
    line-height: 40px;
    padding: 0 1em;
    border: solid 2px $color-main;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: help;
    + .tags__single {
      margin-left: 1em;
    }
    span {
      position: relative;
      z-index: 1;
      transition: color linear .2s;
    }
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 0;
      background-color: $color-main;
      transition: width linear .2s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &:hover {
      span {
        color: white;
      }
    }
    @for $i from 1 through 10 {
      &--#{$i} {
        @if $i == 10 {
          font-weight: 700;
        } @else if $i < 10 and $i >= 8 {
          font-weight: 600; // this font does not have 600
        } @else {
          font-weight: normal;
        }
        &:hover {
          &::before {
            width: #{$i}0%;
          }
        }
        &:active {
          &::before {
            width: 100%;
            background-color: rgba($color-main, 0.5);
          }
        }
      }
    }
  }
}