@use 'variables' as *;

@mixin fontDownloadTime {
  font-display: block;
}

@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: normal;
  font-style: normal;
  src:
    url('#{$path__fonts}/ruda-regular.woff2') format('woff2'),
    url('#{$path__fonts}/ruda-regular.woff') format('woff'),
    url('#{$path__fonts}/ruda-regular.ttf') format('truetype');
}
@font-face {
  @include fontDownloadTime;
  font-family: 'Ruda';
  font-weight: 700;
  font-style: normal;
  src:
    url('#{$path__fonts}/ruda-bold.woff2') format('woff2'),
    url('#{$path__fonts}/ruda-bold.woff') format('woff'),
    url('#{$path__fonts}/ruda-bold.ttf') format('truetype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  @include mode($light);
  @media (prefers-color-scheme: light) {
    @include mode($light);
  }

  @media (prefers-color-scheme: dark) {
    @include mode($dark);
  }
}

html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  &.dark-mode {
    @include mode($dark);
  }
  &.light-mode {
    @include mode($light);
  }
}

body {
  font-family: $font-family-text;
  font-size: 1.6em;
  line-height: 1.5;
  color: var(--color-text);
}

a {
  color: var(--color-text);
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
p {
  margin: 1.2em 0;
}

u {
  text-decoration: none;
}

abbr[title] {
  border-bottom: dotted 1px #333;
  cursor: help;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

code {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid var(--color-main-lighter);
  padding: 2px 4px;
  font: 12px $font-family-monospace;
}
