$noPalette: (
  color-main: #000000,
  color-main-rgb: '0, 0, 0',
  color-main-darkest: darken(#000000, 20),
  color-main-darker: darken(#000000, 15),
  color-main-dark: darken(#000000, 5),
  color-main-light: lighten(#000000, 15),
  color-main-lighter: lighten(#000000, 18),
  color-main-lightest: lighten(#000000, 25),
  color-background: lighten(#000000, 18),
  color-bg: #ffffff,
  color-text: #292828,
  color-text-minor: #666666
);

$originalPalette: (
  color-main: $color-main-original,
  color-main-rgb: '135, 222, 215',
  color-main-darkest: darken($color-main-original, 20),
  color-main-darker: darken($color-main-original, 15),
  color-main-dark: darken($color-main-original, 5),
  color-main-light: lighten($color-main-original, 15),
  color-main-lighter: lighten($color-main-original, 18),
  color-main-lightest: lighten($color-main-original, 25),
  color-background: lighten($color-main-original, 18),
  color-bg: #ffffff,
  color-text: #292828,
  color-text-minor: #666666
);

$allyPalette: (
  color-main: $color-main-ally,
  color-main-rgb: '161, 17, 64',
  color-main-darkest: darken($color-main-ally, 20),
  color-main-darker: darken($color-main-ally, 15),
  color-main-dark: darken($color-main-ally, 2),
  color-main-light: lighten($color-main-ally, 15),
  color-main-lighter: lighten($color-main-ally, 40),
  color-main-lightest: lighten($color-main-ally, 25),
  color-background: lighten($color-main-ally, 18),
  color-bg: #ffffff,
  color-text: #292828,
  color-text-minor: #ffffff
);

// :root custom properties generator
:root {
  @include colors($allyPalette);
}

html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  &.palette--ally {
    @include colors($allyPalette);
  }
  &.palette--original {
    @include colors($originalPalette);
  }
}

body {
  font-family: $font-family-text;
  font-size: 1.6em;
  line-height: 1.5;
}

a {
  color: $color-text;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
p {
  margin: 1.2em 0;
}

abbr[title] {
  border-bottom: dotted 1px #333;
  cursor: help;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

code {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid var(--color-main-lighter);
  padding: 2px 4px;
  font: 12px $font-family-monospace;
}

.section {
  &__title {
    font-family: $font-family-title;
    font-size: 3.3em;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0.35em;
    max-width: 100%;
    overflow: hidden;
    @media #{$medium-up} {
      font-size: 4em;
    }
    &--minor {
      text-transform: none;
    }
  }
  &__subtitle {
    font-family: $font-family-title;
    font-size: 3em;
    line-height: normal;
    color: var(--color-main);
    text-transform: uppercase;
    margin-bottom: 0.35em;
    @media #{$medium-up} {
      font-size: 2.5em;
    }
  }

  .item__title {
    font-weight: bold;
    display: block;
  }

  // misc section typography
  ul,
  dl {
    li,
    dd {
      margin-bottom: 1em;
      clear: both;
      P {
        line-height: normal;
        font-size: 0.85em;
      }
      small {
        display: block;
        color: lighten($color-text, 20%);
        line-height: 1.5;
        font-size: 0.8em;
      }
      img {
        float: left;
        margin-right: 0.5em;
        max-width: 32px;
        height: auto;
      }
      &.talk SPAN {
        font-size: 0.9em;
        font-weight: bold;
        color: lighten($color-text, 20%);
        &:before {
          content: '>';
          color: var(--color-main);
          margin-right: 0.3em;
        }
        A {
          color: var(--color-main);
        }
      }
    }
  }
  a {
    text-decoration: none;
    border-bottom: dashed 1px #cccccc;
  }
}

.icon--pen {
  width: 16px;
  height: 16px;
  fill: var(--color-main);
  vertical-align: middle;
  margin-right: 0.5rem;
  display: inline-block;
}
