$color-dark: #292828;
$color-light: #ffffff;

$riptide-50: #f2fbfa;
$riptide-100: #d2f5f0;
$riptide-200: #a5eae2;
$riptide-300: #87ded7; // primary main
$riptide-400: #43beb8;
$riptide-500: #29a39e;
$riptide-600: #1f8282;
$riptide-700: #1c6969;
$riptide-800: #1b5454;
$riptide-900: #1b4646;
$riptide-950: #0a2729;
$riptide-50-rgb: '242, 251, 250';
$riptide-100-rgb: '210, 245, 240';
$riptide-200-rgb: '165, 234, 226';
$riptide-300-rgb: '135, 222, 215';
$riptide-400-rgb: '67, 190, 184';
$riptide-500-rgb: '41, 163, 158';
$riptide-600-rgb: '31, 130, 130';
$riptide-700-rgb: '28, 105, 105';
$riptide-800-rgb: '27, 84, 84';
$riptide-900-rgb: '27, 70, 70';
$riptide-950-rgb: '10, 39, 41';

$goldenrod-50: #fff9eb;
$goldenrod-100: #ffefc6;
$goldenrod-200: #ffd875; // secondary main
$goldenrod-300: #ffc64a;
$goldenrod-400: #ffaf20;
$goldenrod-500: #f98b07;
$goldenrod-600: #dd6502;
$goldenrod-700: #b74406;
$goldenrod-800: #94340c;
$goldenrod-900: #7a2b0d;
$goldenrod-950: #461402;
$goldenrod-50-rgb: '255, 249, 235';
$goldenrod-100-rgb: '255, 239, 198';
$goldenrod-200-rgb: '255, 216, 117';
$goldenrod-300-rgb: '255, 198, 74';
$goldenrod-400-rgb: '255, 175, 32';
$goldenrod-500-rgb: '249, 139, 7';
$goldenrod-600-rgb: '221, 101, 2';
$goldenrod-700-rgb: '183, 68, 6';
$goldenrod-800-rgb: '148, 52, 12';
$goldenrod-900-rgb: '122, 43, 13';
$goldenrod-950-rgb: '70, 20, 2';

$dusty-gray-50: #f8f8f8;
$dusty-gray-100: #f2f1f1;
$dusty-gray-200: #e7e4e5;
$dusty-gray-300: #d3ced1;
$dusty-gray-400: #bab2b6;
$dusty-gray-500: #9a8f95; // neutral main
$dusty-gray-600: #857980;
$dusty-gray-700: #6d6369;
$dusty-gray-800: #5d545a;
$dusty-gray-900: #514a4f;
$dusty-gray-950: #2b262a;
$dusty-gray-50-rgb: '248, 248, 248';
$dusty-gray-100-rgb: '242, 241, 241';
$dusty-gray-200-rgb: '231, 228, 229';
$dusty-gray-300-rgb: '211, 206, 209';
$dusty-gray-400-rgb: '186, 178, 182';
$dusty-gray-500-rgb: '154, 143, 149';
$dusty-gray-600-rgb: '133, 121, 128';
$dusty-gray-700-rgb: '109, 99, 105';
$dusty-gray-800-rgb: '93, 84, 90';
$dusty-gray-900-rgb: '81, 74, 79';
$dusty-gray-950-rgb: '43, 38, 42';

$palette-light-main: $riptide-300;
$palette-light-main-darkest: $riptide-600;
$palette-light-main-darker: $riptide-500;
$palette-light-main-dark: $riptide-400;
$palette-light-main-light: $riptide-200;
$palette-light-main-lighter: $riptide-100;
$palette-light-main-lightest: $riptide-50;
$palette-light-secondary: $goldenrod-200;
$palette-light-secondary-darkest: $goldenrod-500;
$palette-light-secondary-darker: $goldenrod-400;
$palette-light-secondary-dark: $goldenrod-300;
$palette-light-secondary-light: $goldenrod-100;
$palette-light-secondary-lighter: $goldenrod-50;
$palette-light-secondary-lightest: $goldenrod-50; // non usato
$palette-light-neutral: $dusty-gray-500;
$palette-light-neutral-darkest: $dusty-gray-800;
$palette-light-neutral-darker: $dusty-gray-700;
$palette-light-neutral-dark: $dusty-gray-600;
$palette-light-neutral-light: $dusty-gray-400;
$palette-light-neutral-lighter: $dusty-gray-300;
$palette-light-neutral-lightest: $dusty-gray-200; // non usato

$palette-dark-main: $riptide-500;
$palette-dark-main-darkest: $riptide-300;
$palette-dark-main-darker: $riptide-400;
$palette-dark-main-dark: $riptide-500;
$palette-dark-main-light: $riptide-600;
$palette-dark-main-lighter: $riptide-700;
$palette-dark-main-lightest: $riptide-900;
$palette-dark-secondary: $riptide-900;
$palette-dark-secondary-darkest: $riptide-200;
$palette-dark-secondary-darker: $riptide-700;
$palette-dark-secondary-dark: $riptide-800;
$palette-dark-secondary-light: darken($riptide-950, 5);
$palette-dark-secondary-lighter: $riptide-900;
$palette-dark-secondary-lightest: $riptide-950; // non usato
$palette-dark-neutral: $riptide-300;
$palette-dark-neutral-darkest: $riptide-50;
$palette-dark-neutral-darker: $riptide-100;
$palette-dark-neutral-dark: $riptide-300;
$palette-dark-neutral-light: $riptide-100;
$palette-dark-neutral-lighter: $riptide-900;
$palette-dark-neutral-lightest: $riptide-950; // non usato
