//* URL */
$path__fonts: 'assets/fonts/';

//* LAYOUT */
$gutter: 1.5rem;

$mobile-toggle-height: 4rem;

@mixin container {
  width: 100%;
  max-width: 1200px;
  padding: 0 $gutter;
  margin: 0 auto;
}
