// Doc: https://github.com/sass-mq/sass-mq
@use 'sass-mq/mq' as * with (
  $breakpoints: (
    mobile: 640px,
    tablet: 1024px,
    desktop: 1200px,
    wide: 1920px,
  )
);

@forward 'sass-mq/mq';
