// Doc: https://github.com/sass-mq/sass-mq
@forward 'sass-mq/mq';

$breakpoints: (
  // small
  mobile: 640px,
  // medium
  tablet: 1024px,
  // large
  desktop: 1200px,
  // xlarge
  wide: 1920px
);

$mq-breakpoints: $breakpoints;
