@use 'colors' as *;

$light: (
  color-main-rgb: $riptide-300-rgb,
  color-main: $palette-light-main,
  color-main-darkest: $palette-light-main-darkest,
  color-main-darker: $palette-light-main-darker,
  color-main-dark: $palette-light-main-dark,
  color-main-light: $palette-light-main-light,
  color-main-lighter: $palette-light-main-lighter,
  color-main-lightest: $palette-light-main-lightest,
  color-secondary: $palette-light-secondary,
  color-secondary-darkest: $palette-light-secondary-darkest,
  color-secondary-darker: $palette-light-secondary-darker,
  color-secondary-dark: $palette-light-secondary-dark,
  color-secondary-light: $palette-light-secondary-light,
  color-secondary-lighter: $palette-light-secondary-lighter,
  color-secondary-lightest: $palette-light-secondary-lightest,
  color-neutral: $palette-light-neutral,
  color-neutral-darkest: $palette-light-neutral-darkest,
  color-neutral-darker: $palette-light-neutral-darker,
  color-neutral-dark: $palette-light-neutral-dark,
  color-neutral-light: $palette-light-neutral-light,
  color-neutral-lighter: $palette-light-neutral-lighter,
  color-neutral-lightest: $palette-light-neutral-lightest,
  color-background: $color-light,
  color-background-rgb: '255, 255, 255',
  color-text-rgb: '41, 40, 40',
  color-text: $color-dark,
  color-text-light: $dusty-gray-800,
  color-text-footer: $dusty-gray-700,
  color-text-logo: $dusty-gray-800,
  color-background-button-primary: $riptide-300,
  color-background-button-primary-hover: $riptide-400,
  color-background-button-primary-active: $riptide-500,
  color-tag-active: $goldenrod-500,
  color-border-navigation: $riptide-100,
  color-background-navigation: $color-light,
  color-background-navigation-mobile: $color-dark,
  color-text-navigation: $color-light,
  color-background-footer: $riptide-100,
  color-border-footer: $riptide-300,
  color-star-full: $riptide-400,
  color-star-empty: $riptide-100,
  color-post-internal: $riptide-300,
  opacity-background-navigation: 0,
  transition-image-navigation: none,
);

$dark: (
  color-main-rgb: $riptide-500-rgb,
  color-main: $palette-dark-main,
  color-main-darkest: $palette-dark-main-darkest,
  color-main-darker: $palette-dark-main-darker,
  color-main-dark: $palette-dark-main-dark,
  color-main-light: $palette-dark-main-light,
  color-main-lighter: $palette-dark-main-lighter,
  color-main-lightest: $palette-dark-main-lightest,
  color-secondary: $palette-dark-secondary,
  color-secondary-darkest: $palette-dark-secondary-darkest,
  color-secondary-darker: $palette-dark-secondary-darker,
  color-secondary-dark: $palette-dark-secondary-dark,
  color-secondary-light: $palette-dark-secondary-light,
  color-secondary-lighter: $palette-dark-secondary-lighter,
  color-secondary-lightest: $palette-dark-secondary-lightest,
  color-neutral: $palette-dark-neutral,
  color-neutral-lightest: $palette-dark-neutral-lightest,
  color-neutral-lighter: $palette-dark-neutral-lighter,
  color-neutral-light: $palette-dark-neutral-light,
  color-neutral-dark: $palette-dark-neutral-dark,
  color-neutral-darker: $palette-dark-neutral-darker,
  color-neutral-darkest: $palette-dark-neutral-darkest,
  color-background: $riptide-950,
  color-background-rgb: '41, 40, 40',
  color-text-rgb: '255, 255, 255',
  color-text: $color-light,
  color-text-light: $riptide-200,
  color-text-footer: $riptide-200,
  color-text-logo: $riptide-50,
  color-background-button-primary: $riptide-500,
  color-background-button-primary-hover: $riptide-400,
  color-background-button-primary-active: $riptide-300,
  color-tag-active: $goldenrod-500,
  color-border-navigation: $riptide-500,
  color-background-navigation: $riptide-800,
  color-background-navigation-mobile: $riptide-950,
  color-text-navigation: $color-light,
  color-background-footer: darken($riptide-900, 5),
  color-border-footer: $riptide-600,
  color-star-full: $riptide-300,
  color-star-empty: $riptide-800,
  color-post-internal: $goldenrod-300,
  opacity-background-navigation: 1,
  transition-image-navigation: all 0.8s ease-in,
);

@mixin mode($mode) {
  @each $prop, $val in $mode {
    --#{$prop}: #{$val};
  }
}
