$base-font-size: 10px;
$base-font-family: sans-serif;
$font-family-title: 'Source Serif 4', Trebuchet, sans-serif;
$font-family-special: 'Kristi', cursive;
$font-family-text: Inter, Verdana, sans-serif;
$font-family-ruda: Ruda, Verdana, sans-serif;
$font-family-monospace: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;

%text-link {
  text-decoration: none;
  border-bottom: dashed 1px var(--color-neutral-light);
}

%item-title {
  font-size: 2.7rem;
  font-weight: 700;
  text-decoration: none;
}

%button {
  appearance: none;
  border-radius: 10px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  height: 45px;
  white-space: nowrap;
  padding: 1rem 2rem;
}
